<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<form class="input-box" id="loginForm" action="/account/login" method="post">
    <ul>
        <li><label>Email:</label><br>
            <input type="email" name="account_email" size="40" required autocomplete="email" value="<%= locals.account_email %>"></li>
        <li><label>Password:</label><br>
            <input type="password" size="40" name="account_password" id="password" required autocomplete="current-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></li>
        <li class="login"><input type="submit" value="LOGIN"></li>
    </ul>
    <div>
        <span>No account? <a href="/account/register">Sign up</a></span>
    </div>
</form>

<script>
    const passwordInput = document.querySelector("#password");
    const passwordHide = document.querySelector("#passwordHide");
    passwordHide.addEventListener("click", () => {
        if(passwordInput.getAttribute("type") == "password" ) {
            passwordInput.setAttribute("type", "text");
            passwordHide.classList.remove("active");
        }
        else {
            passwordInput.setAttribute("type", "password");
            passwordHide.classList.add("active");
        }
    })
</script>