<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero">
    <picture>
        <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 200px)"> 
        <img src="/images/vehicles/delorean.jpg" alt="vehicle"> 
    </picture>
    <div class="herolabel">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="index.html">Own Today</a>
    </div>
</div>

<div class="principal">
    <div class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="pictures">
        <h3>Dolorean Upgrades</h3>
        <figure id="flux">
            <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
            <figcaption><a href="/#">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="flame Decails">
            <figcaption><a href="/#">Flame Decails</a></figcaption>
        </figure>
        <figure id="bumper">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <figcaption><a href="/#">Bumper Stickers</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <figcaption><a href="/#">Hub Caps</a></figcaption>
        </figure> 
    </div>
</div>
